<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contul meu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-card>
          <ion-card-header style="padding-bottom: 0px;">
            <ion-card-title style="padding-left:17px; font-size:22px;">Sisteme de irigatii</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <label style="margin-top:20px !important;" *ngIf="irrigationSystems.length == 0">Nu ai niciun sistem de irigatii inregistrat</label>
            <ion-list *ngFor="let sys of irrigationSystems">
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <p class="board-name">{{sys.name}}</p>
                  <span>Serie: {{sys.seriesKey}}</span>
                </ion-label>
                <ion-buttons>
                  <ion-button class="icon" slot="icon-only">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
            <ion-button (click)="openAddIrrigationSystemModal()" style="margin-top:20px" expand="block"  background-color="primary">Adauga sistem de irigatie</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-item button (click)="navigateToVegetables()" detail>
          <ion-label>
            Lista plante
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-button (click)="logout()" color="danger" expand="block">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>