<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="userForLogin.email" name="email" type="text">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Parola</ion-label>
          <ion-input [(ngModel)]="userForLogin.password" name="password" required type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button type="submit" expand="block">Login</ion-button>
  </form>
  <div class="signupLink">
    <span [routerLink]="['/signup']">Creaza un cont</span>
  </div>
  <ion-label *ngIf="errMessage != null" color="danger">{{errMessage}}</ion-label>
</ion-content>