<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Zone si program
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Intervalul orar al irigarii automate</ion-card-title>
          </ion-card-header>
          <ion-row>
            <ion-col style="padding-bottom: 0;">
              <ion-card>
                <ion-item>
                  <ion-label>Start</ion-label>
                  <ion-datetime (ionChange)="UpdateSchedule()" display-format="HH:mm" picker-format="HH:mm"
                    [(ngModel)]="schedule.start" name="start"></ion-datetime>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding-top: 0;">
              <ion-card>
                <ion-item>
                  <ion-label>Stop</ion-label>
                  <ion-datetime (ionChange)="UpdateSchedule()" display-format="HH:mm" picker-format="HH:mm"
                    [(ngModel)]="schedule.stop" name="stop"></ion-datetime>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Intervalul temperaturii in care se iriga: {{schedule.temperatureMin}}°C -
              {{schedule.temperatureMax}}°C
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Irigarea incepe la {{schedule.start | date:'HH:mm'}} daca valoarea temperaturii este intre
            </ion-label>
            <ion-range (ionFocus)="updateTemperatureConfirmation()" [(ngModel)]="dualKnobs" name="dualKnobs"
              dualKnobs="true" color="danger" pin="true" max=40 min=15 step=1 snaps=true ticks=true>
              <ion-icon size="small" color="danger" slot="start" name="thermometer"></ion-icon>
              <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
            </ion-range>
            <ion-row>
              <ion-col offset="10">
                <ion-buttons>
                  <ion-button [disabled]=temperatureUpdatedState (click)="presentTemperatureUpdateAlertConfirm()"
                    slot="icon-only">
                    <ion-icon color="primary" name="done-all"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <h3 *ngIf="zones != 0" style="padding-left:20px;">Zone</h3>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col offset-md="3" size-md="6">
          <ion-list *ngFor="let zone of zones">
            <ion-item-sliding>
              <ion-item-options side="end">
                <ion-item-option (click)="openEditModal(zone)">Editeaza</ion-item-option>
                <ion-item-option color="danger" (click)="presentAlertDeleteZone(zone)">Sterge</ion-item-option>
              </ion-item-options>
              <ion-item>
                <ion-label>{{zone.userVegetableName}}: {{zone.name}} ({{zone.moistureStart}}% - {{zone.moistureStop}}%)</ion-label>
                <ion-toggle (ionChange)="updateSwitchState(zone.id,zone)" [(ngModel)]="zone.waterSwitch"
                    name="waterSwitch" color="primary"></ion-toggle>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button (click)="OpenModal()" expand=block>
          Adauga senzor
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>