<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Zones and schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card>
          <ion-item>
            <ion-label>Irigation start time</ion-label>
            <ion-datetime (ionChange)="UpdateSchedule()" display-format="HH:mm" picker-format="HH:mm"
              [(ngModel)]="schedule.start" name="start"></ion-datetime>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Temperature start irrigation: {{schedule.temperatureMin}}°C - {{schedule.temperatureMax}}°C
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Irrigation start at {{schedule.start | date:'HH:mm'}} if temperature value is between
              {{schedule.temperatureMin}}°C - {{schedule.temperatureMax}}°C,
              otherwise irrigation will be reschedueled after 30 min
            </ion-label>
            <ion-range (ionFocus)="updateTemperatureConfirmation()" [(ngModel)]="dualKnobs" name="dualKnobs"
              dualKnobs="true" color="danger" pin="true" max=40 min=15 step=1 snaps=true ticks=true>
              <ion-icon size="small" color="danger" slot="start" name="thermometer"></ion-icon>
              <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
            </ion-range>
            <ion-row>
            <ion-col offset="10">
              <ion-buttons>
                <ion-button [disabled]=temperatureUpdatedState (click)="presentTemperatureUpdateAlertConfirm()" slot="icon-only">
                  <ion-icon color="primary" name="done-all"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-card *ngFor="let zone of zones">
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size=5>
                  Zone: {{zone.name}}
                </ion-col>
                <ion-col offset="4">
                  <ion-buttons>
                    <ion-button class="deleteIcon" slot="icon-only" (click)="presentAlertDeleteZone(zone)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Start moisture {{zone.moistureStart}}%</ion-label>
            <ion-range color="tertiary" (ionFocus)="updateMoistureConfirmation(zone)" pin="true" max=100 min=0
              step=10 snaps=true ticks=true [(ngModel)]="zone.moistureStart">
              <ion-icon class="drop" size="small" slot="start" name="water"></ion-icon>
              <ion-icon class="drop" slot="end" name="water"></ion-icon>
            </ion-range>
            <ion-label>Stop moisture {{zone.moistureStop}}%</ion-label>
            <ion-range (ionFocus)="updateMoistureConfirmation(zone)" color="tertiary" pin="true" max=100 min=0
              step=10 snaps=true ticks=true [(ngModel)]="zone.moistureStop">
              <ion-icon size="small" color="tertiary" slot="start" name="water"></ion-icon>
              <ion-icon slot="end" color="tertiary" name="water"></ion-icon>
            </ion-range>
            <ion-row>
            <ion-col offset="10">
              <ion-buttons>
                <ion-button [disabled]=zone.changeState (click)="presentMoistureUpdateAlertConfirm(zone.id,zone)" slot="icon-only">
                  <ion-icon color="primary" name="done-all"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-fab>
      <ion-fab-button (click)="OpenModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>