<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="water"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="time"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="remote">
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Remote</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myaccount">
      <ion-icon name="person"></ion-icon>
      <ion-label>My account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
