<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="water"></ion-icon>
      <ion-label>Acasa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="time"></ion-icon>
      <ion-label>Program</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Istoric</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myaccount">
      <ion-icon name="person"></ion-icon>
      <ion-label>Contul meu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
