<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Remote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col offset-md="3" size-md="6">
        <ion-button *ngIf="!currentState?.working" (click)="presentIrrigationStateUpdateAlertConfirm()" expand="block">
          Porneste irigarea</ion-button>
        <ion-button *ngIf="currentState?.working" (click)="presentIrrigationStateUpdateAlertConfirm()" color="danger"
          expand="block">Opreste irigarea</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
