<ion-header no-border>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title class="title">
      Smart drop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item class="boardSelect">
    <ion-label>Sistem</ion-label>
    <ion-select [(ngModel)]="currentIrrigationSystem" #system (ionChange)="selectBoard(system.value.systemId)">
      <ion-select-option *ngFor="let irSystem of irrigationSystems" [value]="irSystem">{{irSystem.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-icon *ngIf="irrigationSystemNotConnected" name="ios-wifi"></ion-icon>
            <ion-icon *ngIf="!irrigationSystemNotConnected" name="ios-alert"></ion-icon>
            <ion-row class="nameRow">
              <ion-col>
                <ion-label class="temperatureLabel">Temperatura: {{currentTemperature?.value}}°C</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="nameRow">
              <ion-col>
                <ion-label class="humidityLabel">Umiditatea aerului: {{currentHumidity?.value}}%</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-item>
          <ion-label style="font-size: 20px;" *ngIf="currentState?.automationMode === true">Irigarea automata activata
          </ion-label>
          <ion-button [disabled]="!irrigationSystemNotConnected" *ngIf="currentState?.automationMode === true" color="danger"
            (click)=presentIrrigationAutomatedStateUpdateAlertConfirm()>Dezactiveaza</ion-button>
          <ion-label style="font-size: 20px;" *ngIf="currentState?.automationMode === false">Irigarea automata
            dezactivata</ion-label>
          <ion-button [disabled]="!irrigationSystemNotConnected" *ngIf="currentState?.automationMode === false" color="primary"
            (click)=presentIrrigationAutomatedStateUpdateAlertConfirm()>Activeaza</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-item *ngIf="currentState?.working === true">
          <h3>Se iriga</h3>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-item *ngIf="currentState?.working === true">
          <ion-label>Se iriga</ion-label>
          <ion-progress-bar reversed="true" type="indeterminate"></ion-progress-bar>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <ion-card *ngFor="let moisture of currentMoisture">
            <ion-card-header>
              <ion-card-title> {{moisture?.vegetableName}}: {{moisture?.zone}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="moistCardTextInfo">
              Umiditata solului {{moisture?.value}}% <br> {{moisture?.dateTime | date: 'd/MMM/y, H:mm:ss'}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-button [disabled]="!irrigationSystemNotConnected" *ngIf="!currentState?.working"
          (click)="presentIrrigationStateUpdateAlertConfirm()" expand="block">
          Porneste irigarea manual</ion-button>
        <ion-button [disabled]="!irrigationSystemNotConnected" *ngIf="currentState?.working"
          (click)="presentIrrigationStateUpdateAlertConfirm()" color="danger" expand="block">Opreste irigarea
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-md="2" size-md="8">
        <ion-label *ngIf="!irrigationSystemNotConnected" color=danger>Irigarea nu poate fi pornita.<br></ion-label>
        <ion-label *ngIf="!irrigationSystemNotConnected" color="danger">Sistemul de irigatii nu mai este conectat la
          internet<br></ion-label>
        <ion-label *ngIf="!irrigationSystemNotConnected" color=danger>Ultima data a fost vazut online:
          {{this.systemConectionStatus?.DateAndTime}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>