<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row class="nameRow">
        <ion-col>
          <ion-label>Temperature</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="sensorValue">{{currentTemperature?.value}}°C</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <ion-card *ngFor="let moisture of currentMoisture">
          <ion-card-header>
            <ion-card-title>{{moisture.zone}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Moisture {{moisture.value}}% <br> {{moisture.dateTime}}
          </ion-card-content>
        </ion-card>
  </div>

  <ion-button *ngIf="currentState" (click)="changeSystemState()" expand="block">Start irrigation</ion-button>
  <ion-button *ngIf="!currentState" (click)="changeSystemState()" color="danger" expand="block">Stop irrigation</ion-button>

</ion-content>