<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Istoric</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Selecteaza un senzor</ion-label>
    <ion-select [(ngModel)]="currentSensor" #sensor (ionChange)="setTitle()">
      <ion-select-option *ngFor="let sns of sensors" [value]="sns">{{sns.name? sns.name : sns.type}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-segment (ionChange)='typeChanged(dayMonth)' [disabled]="!currentSensor" [(ngModel)]="dayMonth">
    <ion-segment-button value="day">
      <ion-label>Zi</ion-label>
    </ion-segment-button>
    <ion-segment-button name="month" value="month">
      <ion-label>Luna</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item [disabled]="!currentSensor" placeholder="Selecteaza un senzor">
    <ion-label *ngIf="dayMonth === 'month'">Luna</ion-label>
    <ion-label *ngIf="dayMonth === 'day'">Zi</ion-label>
    <ion-datetime (ionBlur)="getData()" [(ngModel)]="date" name="date" *ngIf="dayMonth === 'month'"
      displayFormat="MM-YYYY" placeholder="Selecteaza o luna"></ion-datetime>
    <ion-datetime (ionBlur)="getData()" [(ngModel)]="date" name="date" *ngIf="dayMonth === 'day'"
      displayFormat="D-M-YYYY" placeholder="Selecteaza o zi"></ion-datetime>
  </ion-item>

  
    <canvas style="overflow-scroll:false" *ngIf="currentSensor?.type==='Moisture' || currentSensor?.type==='Humidity'" baseChart [datasets]="chartData"
      [labels]="chartLabels" [options]="chartOptionsMoisture" [colors]="chartColors" [chartType]="chartType">
    </canvas>
  

  
    <canvas baseChart *ngIf="currentSensor?.type==='Temperature'" [datasets]="chartData" [labels]="chartLabels"
      [options]="chartOptionsTemperature" [colors]="chartColors" [chartType]="chartType">
    </canvas>
  

</ion-content>