<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inregistrare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nume</ion-label>
            <ion-input required type="text" [(ngModel)]="userForRegister.lastName" name="lastName"
              #lastNameCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="lastNameCtrl.touched && !lastNameCtrl.value">
            <ion-label color="danger">Numele este obligatoriu</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Prenume</ion-label>
            <ion-input required type="text" [(ngModel)]="userForRegister.firstName" name="firstName"
              #firstNameCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="firstNameCtrl.touched && !firstNameCtrl.value">
            <ion-label color="danger">Prenumele este obligatoriu</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [(ngModel)]="userForRegister.email" name="email" #emailCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="emailCtrl.touched && emailCtrl.errors?.pattern">
            <ion-label>Trebuie sa fie o adresa de email valida</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Parola</ion-label>
            <ion-input required type="password" [(ngModel)]="userForRegister.password" name="password"
              #passwordCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="passwordCtrl.touched && !passwordCtrl.value" lines="none">
            <ion-label color="danger">Parola este obligatorie</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Confirmare parola</ion-label>
            <ion-input required type="password" [(ngModel)]="userForRegister.confirmPassword" name="confirmPassword"
              #confirmPasswordCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="passwordCtrl.touched && passwordCtrl.value != confirmPasswordCtrl.value" lines="none">
            <ion-label color="danger">Parolele nu se aseamana</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tara</ion-label>
            <ion-input type="text" [(ngModel)]="userForRegister.country" name="country"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Oras</ion-label>
            <ion-input type="text" [(ngModel)]="userForRegister.city" name="city"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button [disabled]="!form.valid || passwordCtrl.value != confirmPasswordCtrl.value" type="submit"
        color="primary" expand="block" class="register-button">Inregistrare
      </ion-button>
    </ion-grid>
  </form>
  <div class="loginLink">
    <span [routerLink]="['/login']">Ai deja un cont? Autentificare</span>
  </div>
</ion-content>